.Application {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Fascinate', serif;
  font-size: 30px;
}

h4 {
  color: #a2193a;
}

.DisplayGuess {
  font-size: 36px;
  height: 100px;
  text-align: center;
  width: 100px;
}

.MessageHint {
  margin: 20px 0;
}

.Message {
  height: 20px;
}

.GuessInputField {
  margin: 20px 0;
}

button {
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
